.idea/
for_testing.py
mate/homework/
mate/asynchronous-python/concurrency-parallelism/sync.txt
mate/asynchronous-python/concurrency-parallelism/
mate/__pycache__/
mate/pre-course/__pycache__/
mate/delit.py
mate/output_csv_full.csv
__pycache__
mate/scrapping/atb
venv_jupytern
mate/scrapping/get_my_ip
mate/curr_lesson.txt
testing.py