{% extends 'base.html' %}
{% block title %}
  <title>{{ author.username}}</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <p><strong>Full Name: </strong> {{ author.first_name }} {{ author.last_name }}</p>
      <p><strong>Username: </strong> {{ author.username }}</p>
      <p><strong>Email: </strong> {{ author.email }}</p>

    </div>
    <div class="col-md-6">
      <img src="{{ person.photo.url }}" alt="{{ person.first_name }} {{ person.last_name }}"
           class="img-fluid rounded ">
    </div>
  </div>



  <ul>
    {% for book in author.books.all %}
      <li>
        <strong>Id: </strong> {{ book.id }}
        <strong>Title: </strong>
        <a href="{% url 'catalog:book-detail' pk=book.id %}">{{ book.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul>

  </ul>
{% endblock %}
